.box{
	margin: 15px 0;
	min-height: 60px;
	background-color: magenta;
	color: white;
	font-size: 35px;
	font-weight: 700;
	
}
.header{
	margin-bottom: 10px;
}
.bg{
	background-color: rgba(50, 9, , .5);

}
.bg1{
	background-color: lightblue;
}
.dark{
	background-color: yellowgreen;
}
.lime{
	background-color: yellowgreen;
}
.light{
	background-color: lightcoral;
}
p{
	color: white;
	font-size: 18px;
	font-weight: 700;

}